

<ng-container>
  <li class="menu-item">
    <a href="https://demos.themeselection.com/sneat-bootstrap-html-admin-template/html/vertical-menu-template/app-email.html" target="_blank" class="menu-link">
      <i class="menu-icon tf-icons bx bx-envelope"></i>
      <div data-i18n="Email" class="text-truncate">Email-v2</div>
      <div class="badge rounded-pill bg-label-primary text-uppercase fs-tiny ms-auto">Pro</div>
    </a>
  </li>
</ng-container>
 <!--  <li *ngFor="let item of menuItems" class="menu-item">
    <a [href]="item.url || 'javascript:void(0);'" class="menu-link" [ngClass]="{ 'menu-toggle': item.subItems?.length > 0 }">
      <i [class]="'menu-icon tf-icons ' + item.icon"></i>
      <div class="text-truncate" [attr.data-i18n]="item.item">{{ item.item }}</div>
      <span *ngIf="item.subItems?.length > 0" class="badge rounded-pill bg-danger ms-auto">5</span>
    </a>

    <ul *ngIf="item.subItems?.length > 0" class="menu-sub">
      <li *ngFor="let subItem of item.subItems" class="menu-item">
        <a [href]="subItem.url" class="menu-link">
          <div class="text-truncate" [attr.data-i18n]="subItem.item">{{ subItem.item }}</div>
        </a>
      </li>
    </ul>
  </li> -->

