<div class="container my-5">
    <div class="card-product" style="background-image: url('img/elements/21.jpg');">
        <i class="bi bi-heart-fill heart-icon"></i>
        <div class="product-info">
            <h2>Camisas</h2>
            <p class="price">40$ <small>/ Talla S</small></p>
        </div>
        <div class="thumbnail-stack">
            <img src="img/elements/22.jpg" alt="thumbnail1">
            <img src="img/elements/21.jpg" alt="thumbnail2">
            <div class="extra-images" style="background-image: url('img/elements/21.jpg');">
                6+
            </div>
        </div>
    </div>
</div>