<ng-container>
  <div class="container my-4">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-6 g-4">
      <div *ngFor="let card of cardList" class="col">
        <div class="card product-card p-2">
          <!-- Imagen del producto -->
          <img src="img/elements/2.jpg" class="card-img-top product-image" alt="Producto" />

          <!-- Contenido debajo de la imagen -->
          <div class="card-body px-2 py-3 d-flex justify-content-between align-items-center">
            <div>
              <h5 class="card-title mb-1">Nombre del Producto</h5>
              <p class="card-text">$99.99</p>
            </div>
            <div class="like-icon">
              <i class="bi bi-heart"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
